.ova-blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin: 0;

    @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &.ova-column_2 {
        grid-template-columns: 1fr 1fr;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    &.ova-column_4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media (max-width: 1400px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 1100px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    .item {
        @include transaction(all, 0.3s, linear);
        list-style: none;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);

        &:hover {
            @include transaction(all, 0.3s, linear);
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);

            .media {
                .box-img {
                    a {
                        img {
                            @include transaction(all, 0.3s, linear);
                            transform: scale(1.05);
                        }
                    }

                    .overlay {
                        @include transaction(all, 0.3s, linear);
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }

        .media {
            position: relative;

            .box-img {
                overflow: hidden;

                a {
                    img {
                        @include transaction(all, 0.3s, linear);
                        display: block;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .overlay {
                    @include transaction(all, 0.3s, linear);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .post-date {
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 30px;
                transform: translateY(50%);

                .date {
                    color: #fff;
                    padding: 5px 10px;
                    background-color: var(--primary);
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .content {
            padding: 30px;

            @media (max-width: 767px) {
                padding: 30px 20px;
            }

            .post-meta {
                padding: 0;

                .item-meta {
                    list-style: none;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 13px;
                    line-height: 1;

                    &.wp-author {
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;
                        padding: 0 20px 0 0;
                        border-right: 1px solid var(--light);

                        .author {
                            img {
                                display: block;
                                width: 100%;
                                object-fit: cover;
                                object-position: 0 0;
                                width: 37px;
                                height: 37px;
                                border-radius: 50%;
                                border: 1px solid #fff;
                                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
                            }
                        }
                        .post-author {
                            font-weight: 500;

                            .by {
                                display: block;
                            }

                            a {
                                @include transaction(all, 0.3s, ease);
                                color: var(--text);

                                &:hover {
                                    @include transaction(all, 0.3s, ease);
                                    color: var(--primary);
                                }
                            }
                        }
                    }

                    &.post-comment {
                        font-weight: 500;
                        margin: 0 0 0 20px;

                        .left {
                            i {
                                color: var(--primary);
                            }
                        }

                        .right {
                            a {
                                @include transaction(all, 0.3s, ease);
                                color: var(--text);

                                &:hover {
                                    @include transaction(all, 0.3s, ease);
                                    color: var(--primary);
                                }
                            }
                        }
                    }
                }
            }

            .post-title {
                margin: 13px 0;
                line-height: 1.1;

                a {
                    @include transaction(all, 0.3s, ease);
                    font-size: 22px;
                    color: var(--heading);

                    &:hover {
                        @include transaction(all, 0.3s, ease);
                        color: var(--primary);
                    }
                }
            }

            .read-more {
                @include transaction(all, 0.3s, linear);
                display: inline-block;
                position: relative;
                line-height: 1;
                background-color: #fff;

                &:hover {
                    &:before,
                    &:after {
                        @include transaction(all, 0.3s, linear);
                        background-color: var(--primary);
                    }

                    a {
                        @include transaction(all, 0.3s, linear);
                        color: var(--primary);
                    }
                }

                &:before,
                &:after {
                    @include transaction(all, 0.3s, linear);
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: var(--text);
                }
                &:after {
                    width: 6px;
                    height: 1px;
                }
                &:before {
                    height: 6px;
                    width: 1px;
                }

                a {
                    @include transaction(all, 0.3s, linear);
                    display: block;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1.2;
                    color: var(--text);
                    padding: 2px 5px;
                }
            }
        }
    }
}

/* Blog General  ****************************************************/
article.post-wrap {
    margin-bottom: 70px;

    &.sticky {
        background: #f9f9f9;
        padding: 30px;
        border-top: 5px solid;
        border-color: var(--primary);

        .post-excerpt {
            text-align: justify;
        }
    }

    .post-title {
        margin: 0px 0px 20px 0px;
        padding: 0;
        line-height: 1.3em;
        font-weight: bold;

        color: var(--heading);
        -webkit-hyphens: unset;
        -moz-hyphens: unset;
        -ms-hyphens: unset;
        hyphens: unset;
        word-break: break-word;
        &:hover {
            color: var(--primary);
        }
    }

    .post-media {
        margin-bottom: 30px;
        img {
            display: block;
            width: 100%;
        }
    }

    ul.post-meta {
        list-style-type: none;
        margin: 0 0px 25px 0px;
        padding: 0;
        display: inline-block;
        li {
            display: inline-block;
            margin: 0 20px 0px 0;
            color: var(--text);
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
            i {
                font-size: 0.9em;
                color: var(--primary);
                padding-right: 3px;
            }
            a {
                color: var(--text);
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    .post-excerpt {
        & > p {
            margin-top: 0px;
            margin-bottom: 25px;
        }
    }

    a.readmore {
        clear: both;
        background-color: var(--primary);
        border-color: var(--primary);
        border: 1px solid;
        color: #fff;
        font-size: 1em;
        text-transform: none;
        font-weight: 600;
        box-shadow: none;
        display: inline-block;
        @include transaction(all, 0.2s, linear);
        &:hover {
            color: var(--primary);
            border-color: var(--primary);
            background-color: #fff;
        }
    }
}

/* Blog Default ****************************************************/
.blog_default {
    .post-title {
        font-weight: normal;
    }

    .post-excerpt {
        font-size: 1em;
    }

    .date {
        font-size: 1em;
    }
}

.layout_1c {
    .blog_default {
        max-width: 1000px;
        margin: 0 auto;
    }
}

/*Blog Grid ***************************************************/
.blog_grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: ($desktop - 1)) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }

    article.post-wrap {
        .post-media {
            margin-bottom: 15px;
        }

        .post-title {
            font-size: 22px;
        }

        .post-excerpt {
            font-size: 1em;
        }

        ul.post-meta {
            margin-bottom: 15px;
            .date {
                font-size: 1em;
            }
        }
    }
}

.layout_2l,
.layout_2r {
    .blog_grid {
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/* Blog masonry ***************************************************/
.blog_masonry {
    margin-left: -15px;
    margin-right: -15px;
    article {
        width: 33.3%;

        @media (max-width: 1200px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    .content {
        margin: 0px 15px;
        position: relative;
        min-height: 100px;

        .post-media {
            margin-bottom: 15px;
        }

        .post-title {
            font-size: 22px;
        }

        .post-excerpt {
            font-size: 1em;
        }

        ul.post-meta {
            margin-bottom: 15px;
            .date {
                font-size: 1em;
            }
        }

        a.readmore {
            clear: both;
            background-color: transparent;
            border-color: var(--primary);
            border: 1px solid;
            color: var(--primary);

            @include transaction(all, 0.2s, linear);
            &:hover {
                color: #fff;
                border-color: var(--primary);
                background-color: var(--primary);
            }
        }
    }
}

.layout_2l,
.layout_2r {
    .blog_masonry {
        article {
            width: 50%;
            min-height: 200px;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

/* Detail ***************************************************/
.single {
    article.post-wrap {
        .post-title {
            -webkit-hyphens: unset;
            -moz-hyphens: unset;
            -ms-hyphens: unset;
            hyphens: unset;
            margin-bottom: 20px;
            margin-top: 0;
            word-break: break-word;

            &:hover {
                color: var(--heading);
            }
        }

        .post-content {
            margin-bottom: 35px;
            &:before,
            &:after {
                clear: both;
                content: '';
                display: table;
            }
        }

        .post-tags {
            clear: both;
            margin-top: 50px;
            padding-top: 50px;
            border-top: 1px solid #f3f3f3;
            a {
                text-transform: capitalize;
                margin: 0px 5px 5px 0px;
                display: inline-block;
                font-size: 14px;
                font-weight: 400;

                @include tag;
            }
        }

        &.sticky {
            .post-tags {
                border-top: 1px solid #e1e1e1;
            }
        }
    }

    &.layout_1c {
        #main-content {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

/*Page Title ***************************************************/

h1.page-title {
    margin-top: 0;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
}

.search {
    .page-header {
        .page-title {
            margin-bottom: 60px;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 15px;
            span {
                color: var(--primary);
            }
        }
    }
}

/*Blogs Detail ***************************************************/
article.post-wrap ul.post-meta li i {
    font-size: 0.9em;
    color: var(--primary);
    padding-right: 5px;
}
.post-tags {
    clear: both;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #f3f3f3;
}
.post-tags a {
    text-transform: capitalize;
    margin: 0px 5px 5px 0px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    border: solid 1px #f3f3f3;
    color: var(--text);
    border-radius: 0;
    padding: 5px 15px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.post-tags a:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
blockquote {
    position: relative;
    font-weight: 600;
    color: var(--heading);
    padding: 20px 60px 20px;
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
}

blockquote::before {
    position: absolute;
    left: 10px;
    top: 25px;
    content: 'ï…¿';
    font-family: 'ovaicon';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    vertical-align: middle;
    font-size: 30px;
    color: var(--primary);
}

.comment-form-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-form-cookies-consent input {
    margin-right: 5px;
}
