// import css files
@import './fonts';
@import './icons';
@import '../components/layouts/Header/header';
@import '../pages/Home/home';
@import './mixins';
@import './item-template1';
@import './item-template2';
@import './ova-counter';
@import './odometer';
@import './custom-icon-button';
@import '../styles/logo';
@import './form';
@import './elementor';
@import './responsive';
@import './menu';
@import './search-popup';
@import './normalize';
@import './menu-canvas';
@import './sticky';
@import './slick';
@import './layout';
@import './animations';
@import './menu-footer';
@import './custom-class-primary-background';
@import './blog';
@import './icon-box';
@import './testimonial';
@import './heading';
@import './video';
@import './gallery-slide';
@import './movie-main-slider';
@import './movie-slider';
@import './slick-theme';
@import './header-banner';
@import './breadcrumbs';
@import './page';
@import './cart';
@import './login';
@import './woocommerce';
@import './movie-list';
@import './single';
@import './movie-cast-list';
@import './404';
@import './contact-info';
@import './widgets';
@import './latest-posts';

// common styles
:root {
    --primary: #d96c2c;
    --heading: #000000;
    --text: #737373;
    --light: #e0e0e0;
    --primary-font: Space Grotesk;
    --font-size: 16px;
    --line-height: 1.86em;
    --letter-spacing: 0px;
    --secondary-font: Space Grotesk;
    --width-sidebar: 370px;
    --main-content: calc(100% - 370px);
    --container-width: 1190px;
    --boxed-offset: 20px;
    --woo-layout: layout_1c;
    --woo-width-sidebar: 320px;
    --woo-main-content: calc(100% - 320px);

    --grid-template-columns: repeat(4, auto);
    --icon-size: 14px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
    --icon-padding: 1.2em;
    --e-social-icon-icon-color: #fff;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text);
    font-family: var(--primary-font);
    letter-spacing: var(--letter-spacing);
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading);
    font-family: var(--secondary-font);
    font-weight: bold;
    clear: both;
    margin: 1em 0 0.5em 0px;
}

h1 {
    font-size: 2em;
    line-height: 1.21;
}

h2 {
    font-size: 1.7411em;
    line-height: 1.21;
}

h3 {
    font-size: 1.5157em;
}

h4 {
    font-size: 1.3195em;
}

h5 {
    font-size: 1.1487em;
}

h6 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--primary);
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

p {
    line-height: var(--line-height);
    margin: 0 0 2em;

    &:empty {
        height: 0;
        margin: 0;
    }
}

address {
    font-style: italic;
    margin: 0 0 24px;
}

cite,
em,
var,
address,
dfn {
    font-style: italic;
}

pre {
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 1.75em 0 1.75em 0;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 0 0 1em;
}

section {
    position: relative;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid;
    border-color: var(--primary);
    border-radius: 0px;
    background-color: var(--primary);
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    line-height: 1.15;
    margin: 0;
}

dl,
ol,
ul {
    margin: 1em 0;
}

.row {
    width: 100%;
    margin: 0;
}

.col,
[class^='col-'] {
    padding: 0;
    > .widget-wrapper {
        padding: 10px;
    }
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.btn,
.button {
    border-radius: 0px;
    padding: 12px 25px;
    line-height: 1.5em;
}

.button:focus,
.button:hover,
.button:visited {
    color: #fff;
}

.button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

.button-wrapper {
    .button {
        font-size: 15px;
        line-height: 1.4;
        font-weight: 700;
        background-color: var(--primary);
        border-radius: 0;
        padding: 17px 51px;

        &:hover {
            background-color: var(--heading);
        }

        .button-content-wrapper {
            align-items: center;
        }
    }
}

.button-content-wrapper {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    line-height: 1;
    background-color: #69727d;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all 0.3s;
}

.owl-carousel.template5 {
    .owl-dot:not(.active) {
        background-color: var(--primary) !important;
        opacity: 0.3;
    }
}

.background-overlay,
.background-slideshow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.widget-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;

    > .widget-element {
        width: 100%;
    }
}

.widget-container {
    transition:
        background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s,
        transform var(--e-transform-transition-duration, 0.4s);
}

.widget-element {
    position: relative;
}

.widget-element:not(:last-child) {
    margin-block-end: 20px;
    margin-bottom: 20px;
}

#top-featured-movies,
#now-playing-movies {
    .slick-list {
        margin-right: -10px;
        margin-left: -10px;
        padding: 10px;
        width: calc(100% + 20px);
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

// button trailer
.btn-trailer-video {
    transition: all 0.5s ease;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--primary);
    text-align: center;
    border: none;
    cursor: pointer;
    &:hover {
        transition: all 0.5s ease;
        background-color: var(--heading);
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.3);
    }
    i {
        display: none;
    }
}

// trailer video popup
.mb_trailer_video_popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;

    .modal-container {
        line-height: 0;
        width: 85%;
        max-height: 90%;
        max-width: 1500px;
        position: relative;

        .modal {
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-top: 56.25%;

            i {
                position: absolute;
                right: -10px;
                top: -35px;
                padding: 10px;
                cursor: pointer;
                font-size: 12px;
                color: #ffffff;
                font-weight: 600;

                &:hover {
                    color: var(--primary);
                }
            }

            iframe {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

.screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// end of common styles
