// import scss files
@import './fonts';
@import './icons';
@import '../components/layouts/Navbar/navbar';
@import '../components/commons/MovieSlider/movie-slider';
@import '../pages/News/news';
@import '../pages/Home/home';
@import '../components/commons/MovieSlider/Carousel/TrailerSlider/SlickSlide/slick';

// common styles
:root {
    --primary: #d96c2c;
    --heading: #000000;
    --text: #737373;
    --light: #e0e0e0;
    --primary-font: Space Grotesk;
    --font-size: 16px;
    --line-height: 1.86em;
    --letter-spacing: 0px;
    --secondary-font: Space Grotesk;
    --width-sidebar: 370px;
    --main-content: calc(100% - 370px);
    --container-width: 1190px;
    --boxed-offset: 20px;
    --woo-layout: layout_1c;
    --woo-width-sidebar: 320px;
    --woo-main-content: calc(100% - 320px);
}

html {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text);
    font-family: var(--primary-font);
    letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading);
    font-family: var(--secondary-font);
    font-weight: bold;
    clear: both;
    margin: 1em 0 0.5em 0px;
}

h1 {
    font-size: 2em;
    line-height: 1.21;
}

h2 {
    font-size: 1.7411em;
    line-height: 1.21;
}

h3 {
    font-size: 1.5157em;
}

h4 {
    font-size: 1.3195em;
}

h5 {
    font-size: 1.1487em;
}

h6 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--primary);
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

p {
    line-height: var(--line-height);
    margin: 0 0 2em;

    &:empty {
        height: 0;
        margin: 0;
    }
}

address {
    font-style: italic;
    margin: 0 0 24px;
}

cite,
em,
var,
address,
dfn {
    font-style: italic;
}

pre {
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 1.75em 0 1.75em 0;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 0 0 1em;
}

body .App {
    min-height: calc(100vh - 200px);
}

.container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body .row_site {
    max-width: 1190px;
    margin: 0 auto;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid;
    border-color: var(--primary);
    border-radius: 0px;
    background-color: var(--primary);
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    line-height: 1.15;
    margin: 0;
}

.cs-btn,
.button {
    border-radius: 0px;
    padding: 12px 25px;
    line-height: 1.5em;
}

// end of common styles
