#post-heading {
    padding: 110px 0px 280px 0px;

    .background-overlay {
        background-image: url(../assets/images/background-blog-home-1.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
}
