#now-playing-movies {
    .background-overlay {
        background-image: url(../assets/images/big-bg-film.png);
        background-position: top left;
        background-repeat: no-repeat;
        opacity: 0.03;
        mix-blend-mode: luminosity;
    }
    .container-1440,
    .container-1190 {
        .widget-wrapper {
            .inner-section {
                margin-top: 40px;
                margin-bottom: 0px;

                .widget-wrapper {
                    padding: 10px;
                }
            }
        }
    }

    .slick-list {
        .slick-track {
            transition: all 0.5s ease 0s;
            position: relative;
            -ms-touch-action: pan-Y;
            touch-action: manipulation;
            backface-visibility: hidden;
            -moz-backface-visibility: hidden;

            .slick-slide {
                width: 282.5px !important;
                margin-right: 20px;
            }
        }
    }

    .slick-dots {
        margin-top: 20px;
        position: relative;
        bottom: 0;

        li {
            margin: 0;

            button:before {
                font-family: 'slick';
                font-size: 9px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: 0.3;
                color: var(--primary);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transition: opacity 0.2s ease;
            }
        }

        li.slick-active {
            button:before {
                opacity: 1;
            }
        }
    }
}
