#banner {
    .col {
        > .widget-wrapper {
            background-image: url(../assets/images/background-reel-cta-1.png);
            background-position: -70px 0px;
            background-repeat: no-repeat;
            background-size: auto;
            transition:
                background 0.3s,
                border 0.3s,
                border-radius 0.3s,
                box-shadow 0.3s;
            padding: 63px 60px 63px 70px;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            background-color: var(--primary);

            .widget-element:not(:last-child) {
                color: #ffffff;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.2em;
                width: auto;
                max-width: auto;
            }
        }
    }
    .background-overlay {
        background-image: url(../assets/images/bg-discount-for-student.png);
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.6;
        mix-blend-mode: luminosity;
        transition:
            background 0.3s,
            border-radius 0.3s,
            opacity 0.3s;
    }

    .button {
        background-color: #000;
        &:hover {
            color: #d96c2c;
            background-color: #ffffff;
        }
    }
}
