#footer {
    position: absolute;
    z-index: 9999;
    bottom: -558px;
    left: 0;
    right: 0;
    transition:
        background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
    background-color: #000;

    .widget-element.top-element {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #ffffff26;
        transition:
            background 0.3s,
            border 0.3s,
            border-radius 0.3s,
            box-shadow 0.3s;
        padding: 20px 0px 30px 0px;
    }

    .widget-element.bot-element {
        padding: 90px 0px 50px 0px;
    }

    .social-icons-wrapper {
        grid-column-gap: var(--grid-column-gap, 5px);
        grid-row-gap: var(--grid-row-gap, 5px);
        grid-template-columns: var(--grid-template-columns);
        justify-content: var(--justify-content, center);
        justify-items: var(--justify-content, center);

        .grid-item {
            min-width: 0;

            .social-icon {
                display: inline-flex;
                background-color: #69727d;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50% 50% 50% 50%;
                background-color: #2f2f2f;
                color: #fff;
                font-size: var(--icon-size, 25px);
                line-height: var(--icon-size, 25px);
                width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
                height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));

                transition-duration: 0.3s;
                transition-property: transform;
                transition-timing-function: ease-out;
                transition: all 0.3s;

                &:hover {
                    background-color: #d96d2c;
                    opacity: 0.9;
                    color: #fff;
                    transform: translateY(-8px);
                }
            }
        }
    }

    .link {
        color: #797979;

        &:hover {
            color: var(--primary);
        }
    }

    .col-30 {
        .widget-element {
            color: #ffffff;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.8em;
        }
    }

    .button {
        &:hover {
            background-color: #fff;
            color: var(--primary);
        }
    }
}

.ova-menu-footer {
    ul {
        list-style: none;

        li {
            margin-bottom: 3px;

            &:hover {
                a {
                    @include transaction(all, 0.3s, linear);
                    color: var(--primary);

                    &:after {
                        @include transaction(all, 0.3s, linear);
                        width: 100%;
                    }
                }
            }

            a {
                @include transaction(all, 0.3s, linear);
                font-size: 15px;
                line-height: 2.4;
                color: var(--text);
                position: relative;

                &:after {
                    @include transaction(all, 0.3s, linear);
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: var(--primary);
                }
            }
        }

        &.menu {
            padding: 0;
        }
    }
}
