#movie-slider {
    .carousel-item {
        img {
            position: absolute;
            left: 0;
            right: 0;
            height: 895.977px;
            object-fit: cover;
            filter: brightness(0.5) !important;
        }
    }

    .movie-social-sharing {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-share {
        writing-mode: vertical-lr;
        margin: 0 -3px 10px 0;
        user-select: none;
    }

    .line {
        width: 1px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .share-social-icons {
        li {
            padding-top: 20px;

            i {
                color: rgba(255, 255, 255, 0.3);

                &:hover {
                    color: #fff !important;
                }
            }
        }
    }

    .movie-release {
        position: absolute;
        right: 20px;
        bottom: 115%;

        span {
            line-height: 1.86em;
        }
    }

    .time {
        font-size: 30px;
        line-height: 1.2;

        &::after {
            content: '';
            position: absolute;
            left: -5px;
            bottom: -10px;
            width: 110%;
            height: 15px;
            background-image: url('../assets/images/underline-heading-entire.png');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .movie-main-item {
        max-width: 650px;
    }

    .movie-heading {
        margin-top: 320px;
    }

    .movie-category {
        position: absolute;
        bottom: 87%;
        left: 18%;
        width: fit-content;
        z-index: 1;
        margin: 0;
        font-family: 'Covered By Your Grace';
        font-size: 40px;
        color: var(--primary);
    }

    .movie-excerpt {
        margin: 0 0 36px 0;
        font-size: 18px;
    }

    .button-wrapper {
        margin-bottom: 230px;

        .cs-btn {
            margin: 0 15px 15px 0;
            padding: 17px 50px;
            font-size: 15px;
            min-width: 175px;
            border: none;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

    .movie-title {
        transition: all 0.5s ease;
        margin: 0 0 25px 0;
        font-size: 90px;
        line-height: 1;

        &:hover {
            transition: all 0.5s ease;
            color: var(--primary) !important;
        }
    }

    .btn-more-info {
        color: #000;
        background-color: #fff;

        &:hover {
            background-color: var(--primary) !important;
            color: #fff !important;
        }
    }

    .movie-trailer-wrapper {
        right: 0;
        bottom: 0;
        max-width: 658px;
        padding: 60px 55px 50px 135px;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0px 10px 60px rgba(255, 255, 255, 0.1);

        .slick-list {
            order: 2;
        }

        .arrow-trailers-img {
            left: 55px;
        }

        .text-trailer {
            font-size: 18px;
            line-height: 1;
        }

        .movie-trailer-slider {
            margin-bottom: 0;

            .slick-current .movie-trailer-item .movie-trailer-media img {
                border: 2px solid var(--primary);
            }
        }

        .movie-trailer-media {
            margin-right: 20px;

            img {
                height: 104px;
                border: 2px solid #fff;
            }

            .btn-trailer-video {
                transition: all 0.5s ease;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
                width: 36px;
                height: 36px;
                cursor: pointer;
                z-index: 2;

                i {
                    transition: all 0.3s ease;
                    display: inline-flex;
                    font-size: 12px;
                    color: #000;
                }

                &:hover {
                    transition: all 0.5s ease;
                    background-color: var(--primary) !important;

                    i {
                        transition: all 0.3s ease;
                        color: #fff;
                    }
                }
            }
        }

        .slick-dots {
            position: static;
            width: auto;
            order: 1;
            line-height: 1;
            margin: 0 15px 25px 0;
            text-align: right;

            li {
                margin: 0;
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                padding: 0;
                cursor: pointer;

                button {
                    font-size: 0px;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    color: transparent;
                    padding: 5px;
                    border-width: 0px;
                    border-style: initial;
                    border-color: initial;
                    border-image: initial;
                    outline: none;
                    background: transparent;

                    &:before {
                        font-family: slick;
                        line-height: 20px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 20px;
                        height: 20px;
                        content: '•';
                        text-align: center;
                        opacity: 0.25;
                        -webkit-font-smoothing: antialiased;
                        font-size: 8px;
                        color: #fff;
                    }
                }

                button:hover {
                    &:before {
                        opacity: 1 !important;
                    }
                }
            }

            li.slick-active button:before {
                opacity: 1;
            }
        }
    }
}

.mb-movie-slider {
    &.owl-carousel {
        .owl-stage-outer {
            margin-right: -10px;
            margin-left: -10px;
            padding: 10px;
            width: calc(100% + 20px);
        }

        .owl-nav {
            button {
                transition: all 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: -104px;
                right: 0;
                width: 34px;
                height: 34px;
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
                border-radius: 0;

                &.owl-prev,
                &.owl-next {
                    &:hover {
                        transition: all 0.3s ease;
                        background-color: var(--primary);
                        i {
                            transition: all 0.3s ease;
                            color: #fff;
                        }
                    }
                }

                &.owl-prev {
                    margin-right: 40px;
                }

                i {
                    transition: all 0.3s ease;
                    display: inline-flex;
                    font-size: 10px;
                }
            }
        }
    }
    .owl-dots {
        text-align: center;
        margin-top: 20px;
        .owl-dot {
            outline: none;
            span {
                width: 8px;
                height: 8px;
                margin: 0 3px;
                background-color: var(--primary);
                opacity: 0.3;
                display: block;
                backface-visibility: visible;
                -webkit-backface-visibility: visible;
                transition: opacity 0.2s ease;
                border-radius: 50%;
            }
            &.active {
                span {
                    opacity: 1;
                }
            }
        }
    }
}
