#movie-slider {
    height: 895.977px;

    .carousel-item {
        img {
            position: absolute;
            left: 0;
            right: 0;
            height: 895.977px;
            object-fit: cover;
            /* opacity: 0.5 !important; */
        }
    }

    .movie-social-sharing {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-share {
        writing-mode: vertical-lr;
        margin: 0 -3px 10px 0;
        user-select: none;
    }

    .line {
        width: 1px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .share-social-icons {
        li {
            padding-top: 20px;

            i {
                color: rgba(255, 255, 255, 0.3);

                &:hover {
                    color: #fff !important;
                }
            }
        }
    }

    .movie-release {
        position: absolute;
        right: 20px;
        bottom: 115%;

        span {
            line-height: 1.86em;
        }
    }

    .time {
        font-size: 30px;
        line-height: 1.2;

        &::after {
            content: '';
            position: absolute;
            left: -5px;
            bottom: -10px;
            width: 110%;
            height: 15px;
            background-image: url(/images/underline-heading-entire.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .movie-main-item {
        max-width: 650px;
    }

    .movie-heading {
        margin-top: 320px;
    }

    .movie-category {
        position: absolute;
        bottom: 87%;
        left: 18%;
        width: fit-content;
        z-index: 1;
        margin: 0;
        font-family: 'Covered By Your Grace';
        font-size: 40px;
        color: var(--primary);
    }

    .movie-excerpt {
        margin: 0 0 36px 0;
        font-size: 18px;
    }

    .button-wrapper {
        margin-bottom: 230px;

        .btn {
            margin: 0 15px 15px 0;
            padding: 17px 50px;
            font-size: 15px;
            min-width: 175px;
            border: none;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

    .movie-title {
        transition: all 0.5s ease;
        margin: 0 0 25px 0;
        font-size: 90px;
        line-height: 1;

        &:hover {
            transition: all 0.5s ease;
            color: var(--primary) !important;
        }
    }

    .btn-more-info {
        color: #000;
        background-color: #fff;

        &:hover {
            background-color: var(--primary) !important;
            color: #fff !important;
        }
    }
}
